<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeixunClient.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>154D1015E0561B06BC5159E17ECDE2783ABFED10</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ECY7UG34WK.com.centerm.weixunclient</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ECY7UG34WK</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ECY7UG34WK.com.centerm.weixunclient</string>
				</array>
			</dict>
			<key>name</key>
			<string>WeixunClient.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>394aa661-dfb1-4cf1-869a-4f2af8375134</string>
				<key>name</key>
				<string>weiXunClient_dis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ECY7UG34WK</string>
				<key>name</key>
				<string>Fujian Centerm Information Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
